@charset "UTF-8";
/* Global */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  margin: 0;
  text-align: center;
  background: #fff;
  color: #3d3d3d;
  font-size: 0.9rem;
  line-height: 1.7;
  font-family: "Open Sans", sans-serif;
}

section {
  padding: 7rem 0;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 20px;
}

.section-title {
  position: relative;
  font-size: 2rem;
  margin: 0 0 60px 0;
  font-family: "Kaisei Decol", serif;
}

.section-title::after {
  position: absolute;
  content: "";
  bottom: -1.2rem;
  left: 50%;
  width: 50px;
  height: 10px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #34ace0;
}

button {
  padding: 0.7rem 1.2rem;
  border: 0;
  border-radius: 0;
  background-color: #34ace0;
  color: #fff;
  font-family: "Open Sans", sans-serif;
}

/* Splash */
.splash {
  height: 100vh;
  position: relative;
  background-image: url(https://images.pexels.com/photos/4974915/pexels-photo-4974915.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260);
  background-position: top center;
  background-size: cover;
  background-attachment: fixed;
}

/* dodałem przyciemnienie tła */
.splash::after {
  position: absolute;
  content: "";
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  background-color: #044b69;
  z-index: 1;
  opacity: 0.4;
}

/* wyciagniecie elementów (dzieci splash) powyzej przyciemnienia tła*/
.splash > * {
  z-index: 10;
}

.splash-inner {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.splash i {
  font-size: 2.5rem;
  background: #34ace0;
  width: 4rem;
  height: 4rem;
  line-height: 4rem;
  color: #fff;
  border-radius: 50%;
}

.page-title {
  position: relative;
  color: #fff;
  font-size: 4rem;
  margin: 1rem 0 0 0;
  font-family: "Kaisei Decol", serif;
}

.page-title::after {
  position: absolute;
  content: "";
  bottom: -1rem;
  left: 50%;
  width: 100px;
  height: 10px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #34ace0;
}

.page-subtitle {
  color: #fff;
  font-size: 1.3rem;
  margin: 2rem 0 2rem 0;
  font-family: "Open Sans", sans-serif;
  font-weight: 200;
}

/* Intro */
.intro {
  background: #fff;
}

.intro p {
  width: 70%;
  margin: 0 auto;
  padding: 2rem 0;
  font-size: 1.2rem;
  border-top: 4px double #000000;
  border-bottom: 4px double #000000;
}

/* About */
.about {
  background-color: #d4eff1;
}

/* Skills */
[class^="skill-"] {
  position: relative;
}

.skill-title {
  font-family: "Open Sans", sans-serif;
  font-size: 1.4rem;
}

.skill-image {
  position: absolute;
  width: 50%;
  height: 100%;
  overflow: hidden;
}

.skill-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.skill-right .skill-image {
  right: 0;
}

.skill-right .skill-description {
  padding: 30px 55% 30px 0;
  text-align: right;
}

.skill-left .skill-description {
  padding: 30px 0 30px 55%;
  text-align: left;
}

/* Footer */
.page-footer {
  background-color: #044b69;
  height: 55px;
}

.page-footer p {
  padding-top: 17px;
  color: #fff;
  font-size: 0.8rem;
}

/* Portfolio */
.portfolio-row::before,
.portfolio-row::after {
  clear: both;
  content: "";
  display: table;
}

/* container */
.portfolio-item {
  position: relative;
  float: left;
  width: 33.3333%;
  height: 300px;
  overflow: hidden;
}

/* zdjecie */
.portfolio-item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 1;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.portfolio-item:hover img {
  opacity: 0.4;
}

/* opis i przycisk*/
.item-details {
  position: absolute;
  width: 60%;
  height: 50%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  opacity: 0;
}

.portfolio-item:hover .item-details {
  opacity: 1;
}

/* tytul projektu */
.item-title {
  color: #000000;
  font-size: 1.3rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
}

/* przycisk zdefiniowany wyzej w globalnych stylach */
/* Contact */
.contact {
  background-color: #d4eff1;
}

.sm-container {
  width: 33%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact button {
  outline: 1px #34ace0 solid;
  -webkit-transition: 0.7s ease;
  transition: 0.7s ease;
}

.contact input,
.contact textarea {
  width: 100%;
  padding: 0.8rem 1.2rem;
  border-radius: 0;
  border: none;
  margin-bottom: 1rem;
  font-family: "Open Sans", sans-serif;
  font-size: 0.75rem;
  outline: 1px #fff solid;
  -webkit-transition: 0.7s ease;
  transition: 0.7s ease;
}

.contact textarea {
  min-width: 100%;
  max-width: 100%;
}

.contact button:hover,
.contact button:focus,
.contact input:hover,
.contact textarea:hover,
.contact input:focus,
.contact textarea:focus {
  outline: 1px #044b69 solid;
}

/* footer */
.page-footer p {
  margin: 0;
}
/*# sourceMappingURL=01_5.css.map */